<div class="container">

  <div class="superman">
    <a href="<%= pages_superman_url %>">Superman</a>
    <%=image_tag("superman.jpg", class:"img-responsive")%>
  </div>
  <div class="batman">
    <a href="<%= pages_batman_url %>">Batman</a>
    <%=image_tag("batman.jpg", class:"img-responsive")%>
  </div>
</div>
